.container{
  margin: 0px auto;
width: 1289px;
}

.li4{
  font-family: 'Roboto', sans-serif;
  color: #30CBC2;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;
vertical-align: middle;
margin-top: 45px;
margin-right: 66px;
}

.li1{
  font-family: 'FiraGO', sans-serif;
  color: #4E6FAE;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;
vertical-align: middle;
margin-top: 40px;
margin-right: 66px;

}

.li2{
 font-family: 'FiraGO', sans-serif;
 color: #8D81FF;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;
vertical-align: middle;
margin-top: 40px;
margin-right: 66px;

}

.li3{
 font-family: 'FiraGO', sans-serif;
color: #8D81FF;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;
vertical-align: middle;
margin-top:40px;
margin-right: 350px;

}

.div1{
  background: #5012D5;
 width: 50px;
height: 50px;
color: #84FF81;
font-family: Helvetica;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 10px;
padding-left: 10PX;
margin-top: 60PX;
margin-bottom:10PX ;
}

.div0{
  background: #5012D5;
 width: 50px;
height: 50px;
color: #84FF81;
font-family: Helvetica;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 10px;
padding-left: 10PX;
margin-top: 150PX;
margin-bottom:10PX ;
}

h2{
  width: 70px;
height: 34px;
color: #8D81FF;
font-family: 'FiraGO', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 10px;
}

h3{
 font-family: 'FiraGO', sans-serif;
 width: 578px;
height: 34px;
color: #4E6FAE;
font-size: 20px;
font-weight: 700;
line-height: normal;
margin-bottom: -25px;
}

.img2{
  width: 447px;
height: 280px;
display: inline-block;
margin-bottom: 20px;
}

.div2{
  width:725px;
height: 281px;
color: #4E6FAE;
font-family: 'FiraGO', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:unset;
display: inline-block;
margin: 30px 50px  44px;
padding: 20px 0px;
vertical-align: text-bottom;
}

h4{
  font-family: 'FiraGO', sans-serif;
 width: 578px;
height: 34px;
color: #4E6FAE;
font-size: 20px;
font-weight: 700;
line-height: normal;
margin-bottom: 25px;
}


.p1{
  width: 1021px;
height: 148px;
color: #4E6FAE;
font-family: 'FiraGO', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: unset;
margin-top: 32px;
}

.i1{
  display: inline-block;
 width: 50px;
 height: 50px;
 margin: 66px 20px 66px 0px;
}

.i2{
  display: inline-block;
  width: 2px;
  height: 48px;
  margin: 66px 20px;
}

.i3{
  display: inline-block;
  width: 71px;
  height: 49px;
  margin: 66px 20px;
}


